@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LogDashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/grayscale.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Log Dashboard</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#feature">功能</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/logdashboard">在线预览</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="https://logdashboard.gitbook.io/logdashboard/" target="_blank">文档</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" target="_blank" href="https://github.com/liangshiw/LogDashboard">Star me on GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">LogDashboard</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">轻量、开源、免费、基于NetCore中间件编写的日志面板 <br /> <br /><b>Install Now : Install-Package LogDashboard</b></h2>
                <a href="#feature" class="btn btn-primary js-scroll-trigger">feature</a>
            </div>
        </div>
    </header>
    <!-- Projects Section -->
    <section id="feature" class="projects-section bg-light">
        <div class="container">
            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="img/dashboard.png" alt="">
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>实时查看</h4>
                        <p class="text-black-50 mb-0">使用LogDashboard实时查看记录的日志,无需再翻找txt<br />查看走势图了解程序的运行状态,Debug也可以如此方便!</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>复合检索</h4>
                        <p class="text-black-50 mb-0">在LogDashboard中使用多个查询条件检索应用程序日志. 时间、级别、关键词...</p>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="img/form.png" alt="">
                </div>
            </div>

            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="img/loginfo.png" alt="">
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>日志详情</h4>
                        <p class="text-black-50 mb-0">使用LogDashboard查看每条日志的详情,让bug无处遁形<br />自定义属性扩展更多需求 Cookie、ip、请求参数...无所不记</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup Section -->
    <section id="feature" class="signup-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">来点日志</h2>
                    <form class="form-inline d-flex" method="post" target="frame" onsubmit="toastr.success('添加成功');">
                        <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" asp-for="Warn" id="Warn" placeholder="Warn Message">
                        <button type="submit" class="btn btn-primary mx-auto">Warn</button>
                    </form>
                    <iframe name='frame' id="frame" style='display: none;'></iframe>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
            Copyright &copy; LogDashboard 2019
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/lib/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/grayscale.min.js"></script>
</body>
</html>